<!DOCTYPE html>
html(lang="en")
    head
        title Aluga Jogos
        link(rel="stylesheet", href="/css/main.css")
    body
        nav
            ul
                li
                    a(href="/") Biblioteca
                li
                    a(href="/about") Sobre
                li
                    a(href="/about") Perfil
                li
                    a(href="/about") Contato
        block content

    include footer 